body{
	background-color:black;
	font-family:'avenir', light;
}

h1{
  display: block;
  float: left;
  font-family: 'Avenir', sans-serif;
  /* font-weight: light; */
  color: #36c6b6;
}

nav{
  background-color: green;
  /* margin-top: -20px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100px;
}

nav ul li{
	list-style-type: none;
	display:block;
  padding:0px 15px;
}

nav ul li a{
	text-decoration: none;
	background-color:none;
	font-family:'avenir', sans-serif;
	font-weight: light;
  font-size: 18px;
  text-align: center;
	color: white;
	
}


a:link{
	color:white;
}
a:visited{
	color:white;
}

/* CSS for Search Results Page*/
.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}
.floatLeft > a{
  color: #14e8f0;
  font-size: 24px;
  font-style: oblique;

}

/* CSS for Reviews Page*/

#reviewTitle{
	display:flex;
	position:relative;
	left:50px;
	bottom:90px;
	margin:20px;
	color:white;
  font-size:30px;
  padding-top: 10%;
}

#profile{
	background-color: #36c6b6;
 	border-radius:100%;
 	width: 50px;
 	height:50px;
 	margin: 20px;
 	display:flex;
	position:relative;
	left:50px;
	bottom:90px;
}
#name{
	display:flex;
	left:135px;
	bottom:160px;
	font-size:20px;
	color:black;
}
.checked-review {
	display:flex;
	position:relative;
	left:135px;
	bottom:160px;
	margin:3px;
  	color:#36c6b6;
}
#feedback{
	display:flex;
	position:relative;
	left:135px;
	bottom:160px;
	font-size:20px;
	color:white;
	width:550px;
}
.overallReview {	
	display: flex;	
  	flex-direction: column;
	position:relative;
	bottom:800px;
	left:1250px;
	margin:20px;
  
}

.overallReview > div {
 	background-color: #36c6b6;
 	border-radius:25px;
 	width: 300px;
 	height:300px;
 	margin: 10px;
 	text-align: center;
	color:white;
	font-size:30px;

}
#fraction{
	text-align: center;
	color:white;
	font-size:100px;
}



.rectangle {
  position: absolute;
  top: 30%;
  height: 300px;
  width: 600px;
  display: block;
  left:0;
  right:0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #36c6b6;
}

.navHeader{
  padding-top: 20px;
}

strong{
  font-size: 36px;
}


h2{
  font-family: 'Avenir', sans-serif;
  font-weight: light;
  text-align: center;
  position: relative;

}