body{
	background-color:black;
	font-family:'avenir', light;
}

h1{
  display: block;
  float: left;
  font-family: 'Avenir', sans-serif;
  /* font-weight: light; */
  color: #36c6b6;
}

nav{
  background-color: green;
  /* margin-top: -20px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100px;
}

nav ul li{
	list-style-type: none;
	display:block;
  padding:0px 15px;
}

nav ul li a{
	text-decoration: none;
	background-color:none;
	font-family:'avenir', sans-serif;
	font-weight: light;
  font-size: 18px;
  text-align: center;
	color: white;
	
}

/* CSS for Search Results Page*/
.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}
.floatLeft > a{
  color: #14e8f0;
  font-size: 24px;
  font-style: oblique;

}

#searchedshow{
	display:flex;
	background-color:#36c6b6;
	width:500px;
	height:750px;
	float:left;
  border-radius:25px;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

#title{
	display:flex;
	position:relative;
	left:50px;
	bottom:90px;
	margin:20px;
	color:white;
  font-size:30px;
  margin-top: 12%;
}
#description{
	display:flex;
	position:relative;
	left:50px;
	bottom:150px;
	margin:20px;
	width:400px;
	color:white;
	font-size:18px;
}
.checked {
	display:flex;
	position:relative;
	left:45px;
	bottom:150px;
	margin:3px;
  	color:#36c6b6;
}
#platforms{
	display:flex;
	position:relative;
	left:50px;
	bottom:150px;
	margin:20px;
	color:white;
	font-size:18px;
}
#seeReviews{
	display:flex;
	position:relative;
	left:50px;
	bottom:150px;
	margin:20px;
	color:white;
	font-size:18px;
	text-decoration: none;
}
#reccommended{
	display:flex;
	/* position:relative;
	bottom:680px;
  left:825px; */
  margin-left: 60px;
  justify-self: start;
	/* margin:20px; */
	color:white;
	font-size:18px;
	text-decoration: none;
}

.containerTest{
  align-items: flex-start;
  justify-items: start;
  top: 170px;
  right: 0;
  position: absolute;
}

.container {	
	display: flex;	
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    justify-self: start;

	/* position:relative; */
  margin:20px;
  
}

.container > div {
  background-color: #36c6b6;
  border-radius:25px;
  width: 250px;
  height:200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.rectangle {
  position: absolute;
  top: 30%;
  height: 300px;
  width: 600px;
  display: block;
  left:0;
  right:0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #36c6b6;
}

.homeHeading{
  color: white;
  font-size: 32px;
  padding-top: 10%;
}

.search > input{
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  font-size: 30px;
  justify-self: center;
}

.search > i{
  position: absolute;
  top: 15%;
  left: 18%;
  width: 50%;
  font-size: 30px;
  justify-self: center;
}

.table {
  position: absolute;
  top: 90px;
  width: 100%;
  font-size: 18px;
  font-family: 'Avenir', sans-serif;
  font-weight: light;
  color: black;
}

.genre {
  position: absolute;
  top: 120px;
  height: 35px;
  width: 300px;
  display: block;
  left:60%;
  right:0;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: white;
}

.platform {
  position: absolute;
  top: 120px;
  height: 35px;
  width: 300px;
  display: block;
  left:0;
  right:60%;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: white;
}

.rating {
  position: absolute;
  top: 120px;
  height: 35px;
  width: 300px;
  display: block;
  left:0;
  right:0;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: white;
}

.navHeader{
  padding-top: 20px;
}

strong{
  font-size: 36px;
}

.flex-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left:0;
  right:0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* top:100%; */
  bottom: 0;
  position: fixed;
  z-index: 1;

}

#contactUs{
  position: absolute;
  font-family: 'Avenir', sans-serif;
  font-weight: light;
  color: #36c6b6;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  position: fixed;
  overflow: hidden;
}

h2{
  font-family: 'Avenir', sans-serif;
  font-weight: light;
  text-align: center;
  position: relative;

}